{% load humanize %}

{% block title %}<title>TICKET</title>{% endblock title %}

{% block content %}

<div class="row justify-content-around mt-4">
  <div class="card text-center col-6">
     
    <div class="d-flex justify-content-around">
      {% if post.user != user %}
        {% if post.user in followed_users %}
          <p>Ton following {{ post.user }} a publié un ticket</p>
        {% else %}
          <p>{{ post.user }} a publié un ticket</p>
        {% endif %}
      {% else %}
        <p>Vous avez publié un ticket</p>
      {% endif %}

      <p>{{post.time_created | naturaltime }}</p>
    </div>

    <div class="card-body">
        <h3 class="card-title mb-4">{{post.title}}</h3>
        <p>{{post.description}}</p>
        <img src="{{post.image.url}}" alt=""> 
    </div> 

    <!--Replied -->
    {% if replied_tickets and post in replied_tickets %}

      {% for reply in replied_reviews %}
        {% if post == reply.ticket %}
          <div class="btn" style="display: grid;">
            <a class="btn btn-outline-info btn-md" href="#">
              {% if reply.user == user %}
                View your response
              {% else %}
                View response from {{ reply.user }}
              {% endif %}
            </a>
          </div>
        {% endif %}
      {% endfor %}

    {% elif post not in replied_tickets %}
      <div class="btn" style="display: grid;">
        <a type="button" class="btn btn-outline-info btn-md" href="#">
          {% if post.user == user %}
            Créer une critique
          {% else %}
            Créer une critique en réponse à {{ post.user }}
          {% endif %}
        </a>
      </div>
    {% endif %}


  </div>
</div>

{% endblock content %}
