{% extends "base.html" %}

{% block title %}<title>{{title}}</title>{% endblock title %}

{% block content %}

<div class="row justify-content-center mt-4">

    <div class="card text-center col-4 ">
        <h3 class="card-title mb-4">{{anonce}}</h3>
        <h6 class="card-subtitle mb-2 text-muted">Crée une critique à partir de zéro en remplissant le formulaire.</h6>
        <div class="card-body">
            <form action="" method="post" novalidate enctype="multipart/form-data">
                {% csrf_token %}
                {{ tic_form.as_p }}
                {{ rev_form.as_p }}
                <button type="submit" class="btn btn-outline-primary">Envoyer</button>
                <a href="{% url 'flux' %}" class="btn btn-outline-danger">Cancel</a>
            </form>
        </div> 
    </div>

</div>

{% endblock content %}
