{% load humanize %}

{% block title %}<title>REVIEW</title>{% endblock title %}

{% block content %}

<div class="row justify-content-around mt-4">

  <div class="card text-center col-6">
    
    <div class="d-flex justify-content-around">
      {% if post.user != user %}
          {% if post.user in followed_users %}
          <p>Ton followed <span style="text-decoration-line: underline; text-transform:uppercase;">{{ post.user }}</span> a publié une critique</p>
          {% else %}
          <p><span style="text-decoration-line: underline; text-transform:uppercase;">{{ post.user }}</span> a publié une critique</p>
          {% endif %}
      {% else %}
          <p>Vous avez publié une critique</p>
      {% endif %}

      <p>{{post.time_created | naturaltime }}</p>
    </div>

    <div class="card-body">
      <div class="d-inline-flex">
        <h3 class="card-title mb-4">{{post.headline}}</h3><h4>- {{post.rating}} Ètoiles</h4> 
      </div>

        <p>{{post.body}}</p> 
    </div> 

      <!-- Ticket section -->
      <div class="row justify-content-around mt-4 mb-4">
        <div class="card text-center col-6  border border-light">
          <div class="d-flex justify-content-around">
            {% if post.ticket.user != user %}
              {% if post.ticket.user in followed_users %}
                <p>Ticket - <span style="text-decoration-line: underline; text-transform:uppercase;">{{ post.ticket.user }}</span></p>
              {% else %}
                <p><span style="text-decoration-line: underline; text-transform:uppercase;">{{ post.ticket.user }}</span> a publié un ticket</p>
              {% endif %}
            {% else %}
              <p>Votre ticket</p>
            {% endif %}
          </div>
      
          <div class="card-body">
            <h4 class="card-title mb-4">{{post.ticket.title}}</h4>  
            <p>{{post.ticket.description}}</p>
            <img src="{{post.ticket.image.url}}" alt=""> 
          </div> 
        </div>
      </div>
      <!-- Fin Ticket section -->

  </div>

</div>
      
{% endblock content %}
