html{
    scroll-behavior: smooth;
}

body{
    background-color: #f4f9f9;
    position: relative;
    padding-bottom: 60px;
}

.nav-link {
    margin-right: 20px;
    font-size: 16px;
    font-size: 20px;
    font-family: revert;
}

.navbar{
    background-color: #17a3b8b4;
}

.card{
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

#id_rating {
    display: inline-flex;
}

#id_rating_0, #id_rating_1, #id_rating_2, #id_rating_3, #id_rating_4, #id_rating_5 {
    margin-left: 5px;
}

footer {
    height:40px; 
    width: 100%; 
    background-attachment: scroll;
    background-color: #5bbecdbd;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
    position: absolute,
}   

.alert{ width: 50%;
    margin: auto;
    text-align: center;
}

.etoile5::after{ 
    content: "★★★★★";
    font-size: 25px;
    color: #ffe100;
    padding: 10px;
}

.etoile4::after{ 
    content: "★★★★";
    font-size: 25px;
    color: #ffe100;
    padding: 10px;
}

.etoile3::after{ 
    content: "★★★";
    font-size: 25px;
    color: #ffe100;
    padding: 10px;
}

.etoile2::after{ 
    content: "★★";
    font-size: 25px;
    color: #ffe100;
    padding: 10px;
}

.etoile1::after{ 
    content: "★";
    font-size: 25px;
    color: #ffe100;
    padding: 10px;
}