{% extends "base.html" %}
{% load humanize %}

{% block title %}<title>FLUX</title>{% endblock title %}

{% block content %}

<div class="row justify-content-around mt-4">
    <div class="col-4 ms-auto">
        <a href="{% url 'ticket-new'%}" class="btn btn-outline-primary">Demander une critique</a>
    </div>
    <div class="col-4 ms-auto">
        <a href="#" class="btn btn-outline-primary">Créer une critique</a>
    </div>
</div>

{% for ticket in tickets %}
<div class="row justify-content-around mt-4">
    <div class="card text-center col-6">
       
        <h3 class="card-title mb-4">{{ticket.title}}</h3>
        <div class="card-body">
            <div class="d-flex justify-content-around">
                {% if ticket.user.id == user.id %}
                    <p>Vous avez publiè un ticket</p>
                {% endif %}
                {# <p>{{ticket.user.id}}</p> #}
                <p>{{ticket.time_created | naturaltime}}</p>
            </div>
            <p>{{ticket.description}}</p>
            <img src="{{ticket.image.url}}" alt=""> 
        </div>    
    </div>
</div>
{% endfor %}


{% endblock content %}