{% extends "base.html" %}

{% block title %}<title>FLUX</title>{% endblock title %}

{% block content %}

<div class="row justify-content-around mt-4">
    <div class="col-4 ms-auto">
        <a href="{% url 'ticket-new' %}" class="btn btn-outline-primary">Demander une critique</a>
    </div>
    <div class="col-4 ms-auto">
        <a href="{% url 'review-new' %}" class="btn btn-outline-primary">Créer une critique</a>
    </div>
</div>

{% for post in posts %}

    {% if post.content_type == 'REVIEW' %}
        {% include 'review/view_review.html' %}
    {% elif post.content_type == 'TICKET' %}
        {% include 'ticket/view_ticket.html' %}
    {% endif %}

{% endfor %}

{% endblock content %}
